body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body#background{
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("./imgs/background4.jpg") no-repeat;
    background-size: 1920px 1200px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    height: 80px;
    background-color: red;
}

.topnav #left {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 15px;
}

.topnav #right{
    margin-top: 25px;
}

.topnav #left{
    margin-left: 15px;
    float: left;
}

.topnav a, img#right{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 32px;
}

.topnav img#rightinherit{
    padding-right: 20px;
    height: 30px;
    float: left;
}

.topnav img#right{
    height: 30px;
}

.topnav a#right{
    height: 30px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#addontext{
    margin-bottom: 20px;
    float: left;
}

.body{
    margin-left: 90px;
    margin-top: 30px;
}

.mapbox{
    width: 60%;
    height: 560px;
    background-color: white;
    border-radius: 30px;
}
.info-index{
    width: 30%;
    height: 560px;
    background-color: white;
    border-radius: 30px;
}

.info-after-select{
    width: 30%;
    height: 800px;
    background-color: white;
    border-radius: 30px;
}

p#white, h1#white{
    color: white;
}

p#white{
    font-size: 20px;
}

h1#white{
    font-size: 48px;
}

.body-child{
    margin-top: 20px;
}

p, h1{
    color: black;
    margin-left: 10px;
}

h1{
    color: red;
    font-size: 64px;
}
.indent{
    margin-left: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color: #D9D9D9;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a:hover {background-color: #ddd;}

/*.dropdown:active .dropdown-content {display: block;}*/

.dropdown:hover .dropbtn {background-color: rgb(156, 0, 0);}

.timeselect button{
    background-color: #D9D9D9;
    border: none;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.timeselect{
    background-color: #D9D9D9;
    color: black;
    padding: 10px 10px ;
}

#DateTime{
    border: none;
    background-color: #D9D9D9;
    padding: 10px 10px ;
}

.from, .to{
    border: none;
    background-color: #D9D9D9;
    padding-bottom: 7px;
}

#sameheight{
    height: 42px;
    background-color: #D9D9D9;
    text-align: center;
}
.label{
    margin-top: 0px;
    margin-bottom: 0px;
}

#arrow{
    border: none;
}

#arrowbutton{
    border: none;
    background-color: #D9D9D9;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.invoke_action_button{
    border: none;
    background-color: red;
    color: white;
    width: 115px;
    height: 51px;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
}

.invoke_action_button:hover, .go_back_button:hover{
    background-color: rgb(156, 0, 0);
}

.go_back_button{
    border: none;
    background-color: red;
    color: white;
    width: 115px;
    height: 51px;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
}

#train-name{
    width: 142px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    padding-right: 12px;
    border-radius: 5px;
}

#BuyButton{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: 130px;
    height: 45px;
    font-size: 20px;
    border-radius: 8px;
}

#BuyButton:hover{
    background-color: rgb(156, 0, 0);
}

#train-spec{
    float: left;
    margin-left: 5px;
}

p#train-spec{
    margin-top: 0;
    margin-left: 25px;
}

img.train-spec-info{
    margin-top: -3px;
}

.one-train{
    margin-top: 30px;
}

.main-logo{
    cursor: pointer;
}
#map {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

#confirm_passangers{
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#confirm_passangers:hover{
    background-color: rgb(156, 0, 0);
}

#inline-button{
    border-color: red;
    border-style: solid;
    border-width: 1px;
    color: red;
    background-color: white;
    cursor: pointer;
    border-radius: 35px;

}

#inline-button:hover{
    background-color: red;
    color: white;
}

.body-child-window{
    width: 90%;
    height: 800px;
    background-color: white;
    border-radius: 21px;
    margin-left: 5%;
    margin-top: 2%;
}

#seat-info{
    color: green;
    height: 59px;
    margin-left: 500px;
    margin-right: 20px;
}

#seat-rewrite{
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    float: left;
}

.vl{
    border-left: 2px solid black;
    height: 60px;
    float: left;
}

.vybmapy{
    background-color: #E2001A;
    margin: 10px;
}
.vybermapy{
    background-color: #EDECE6;
}
.mapselection{
    background-color:#ffffff;
}

#box{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 10px 20px;
    border-radius: 6px;
    float: left;
    margin-top: 10px;
    margin-right: 100px;
}

#confirm{
    float: right;
    border: none;
    padding: 15px 35px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-right: 50px;
    font-size: 30px;
    float: right;
}

#confirm:hover{
    background-color: rgb(156, 0, 0);

}

.data{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: max-content;
    padding-right: 10px;
    border-radius: 6px;
    float: left;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

    /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

    /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#confirm2{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#confirm2:hover{
    background-color: rgb(156, 0, 0);
}

#map_button{
    border: none;
    background-color: red;
    color: white;
    padding: 5px 5px;
}

#diag_button{
    border: none;
    background-color: rgb(216, 208, 208);
    color: black;
    padding: 5px 5px;
}

#white-background{
    background-color: white;
    color: black;
    padding: 8px 8px;
    width: 50%;
    border-radius: 5px;
}