/* Container holding the image and the text */
.cont {
    position: relative;
    text-align: left;
    color: white;
}

/* Bottom left text */
.lklk {
    position: absolute;
    top: 50%;
    left: 50%;
    color: green;
    font-size: 4.5vw;
    /* border: dotted black 2px; */
}

#svg {
    display: block;
    top: 0;
    left: 0;
}

#svg line {
    stroke:rgb(0, 0, 255);
    stroke-width:6;
}

circle {
    fill: rgb(0, 255, 0);
    fill-opacity: 255;
    stroke: rgb(0, 255, 0);
    stroke-width: 3px;
    transition: stroke-opacity 0.5s, stroke-width 0.5s, transform 0.5s;
    z-index: 10;
  }
  
  circle:hover {
    transform: scale(1.5);
  }