.main-window-tickets-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1920px;
  height: 1080px;
}
.main-window-tickets-item {
  position: absolute;
  top: 60px;
  left: 0;
  width: 1920px;
  height: 1020px;
  object-fit: cover;
}
.div,
.div1 {
  position: absolute;
  top: 473.39px;
  left: 778.67px;
  font-size: var(--font-size-xs);
}
.div1 {
  top: 966.4px;
  left: 1675.79px;
}
.a-fascinatingly-different,
.the-world-of {
  position: absolute;
  left: 92px;
  font-family: var(--font-abeezee);
  color: var(--color-white);
  display: inline-block;
}
.a-fascinatingly-different {
  top: 117px;
  font-size: var(--font-size-29xl);
  width: 731px;
  height: 371px;
}
.the-world-of {
  top: 254px;
  width: 899px;
}
.b,
.main-window-tickets-inner {
  position: absolute;
  top: 631px;
  left: 1235px;
  width: 138px;
  height: 151px;
}
.b {
  top: 831.5px;
  left: 1355.5px;
  display: inline-block;
  font-family: var(--font-inika);
  width: 16px;
  height: 27px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.obrazek-1-icon,
.rectangle-div {
  position: absolute;
  top: 364px;
  left: 90px;
  border-radius: var(--br-11xl);
  width: 976px;
  height: 563px;
}
.rectangle-div {
  background-color: var(--color-white);
}
.obrazek-1-icon {
  object-fit: cover;
}
.main-window-tickets-child1,
.main-window-tickets-child2 {
  position: absolute;
  left: 90px;
  background-color: var(--color-white);
  width: 976px;
}
.main-window-tickets-child1 {
  top: 363px;
  border-radius: var(--br-11xl);
  height: 49px;
}
.main-window-tickets-child2 {
  top: 385px;
  height: 27px;
}
.maximize-icon-1 {
  position: absolute;
  top: 374px;
  left: 1018px;
  width: 32px;
  height: 29px;
  object-fit: cover;
}
.line-div {
  position: absolute;
  top: 411.5px;
  left: 89.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 977px;
  height: 1px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-linen);
  width: 579px;
  height: 504px;
}
.group-item,
.tickets {
  position: absolute;
  top: 42px;
  left: 2px;
  width: 579px;
  height: 2px;
}
.tickets {
  top: 3px;
  left: 42px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 536px;
  height: 41px;
}
.group-child1,
.group-inner {
  position: absolute;
  top: 263px;
  left: 45px;
  background-color: var(--color-gainsboro);
  width: 483px;
  height: 151px;
}
.group-child1 {
  top: 193px;
  width: 231px;
  height: 47px;
}
.line-icon,
.to {
  position: absolute;
  top: 337.5px;
  left: 136.5px;
  width: 351px;
  height: 3px;
}
.to {
  top: 362px;
  left: 88px;
  font-weight: 800;
  display: inline-block;
  width: 75px;
  height: 27px;
}
.from1 {
  margin: 0;
}
.from,
.tue-27-6 {
  position: absolute;
  top: 287px;
  left: 76px;
  font-weight: 800;
  display: inline-block;
  width: 75px;
  height: 27px;
}
.tue-27-6 {
  top: 205px;
  left: 65px;
  width: 200px;
}
.group-child2 {
  position: absolute;
  top: 128px;
  left: 45px;
  background-color: var(--color-gainsboro);
  width: 206px;
  height: 45px;
}
.x-adult-26-64 {
  position: absolute;
  top: 140px;
  left: 50px;
  font-weight: 800;
  display: inline-block;
  width: 200px;
  height: 27px;
}
.group-child3 {
  position: absolute;
  top: 193px;
  left: 301px;
  background-color: var(--color-gainsboro);
  width: 105px;
  height: 47px;
}
.div2,
.station,
.station-container {
  position: absolute;
  top: 205px;
  left: 308px;
  font-weight: 800;
  display: inline-block;
  width: 92px;
  height: 27px;
}
.station,
.station-container {
  top: 292px;
  left: 228px;
  font-weight: 500;
  color: var(--color-gray-100);
  width: 258px;
  height: 22px;
}
.station-container {
  top: 362px;
  width: 271px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 6.75%;
  width: 2.93%;
  top: 63.69%;
  right: 82.27%;
  bottom: 29.56%;
  left: 14.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  right: 79%;
  left: 18.07%;
}
.button1 {
  position: relative;
}
.button {
  position: absolute;
  top: 446px;
  left: 197px;
  border-radius: var(--br-9xs);
  background-color: var(--color-red);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-6xl);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-white);
  font-family: var(--font-lexend);
}
.group-child4,
.vector-icon2 {
  position: absolute;
  top: 135.5px;
  left: 208.5px;
  width: 1px;
  height: 29.02px;
}
.vector-icon2 {
  height: 4.96%;
  width: 4.3%;
  top: 27.38%;
  right: 58.35%;
  bottom: 67.66%;
  left: 37.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child5 {
  position: absolute;
  top: 452px;
  left: 45px;
  background-color: var(--color-gainsboro);
  width: 122px;
  height: 34px;
}
.class1 {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.class,
.grin {
  position: absolute;
}
.class {
  top: 456px;
  left: 50px;
  font-size: var(--font-inherit);
  font-weight: 800;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 200px;
  height: 27px;
}
.grin {
  top: 184.65px;
  left: 207.16px;
  background-color: var(--color-gray-200);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.rectangle-parent,
.topmenu-child {
  position: absolute;
  top: 355px;
  left: 1193px;
  width: 581px;
  height: 504px;
}
.topmenu-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-red);
}
.logo-rhb-en-2-icon {
  position: absolute;
  height: 62.5%;
  width: 23.7%;
  top: 22.5%;
  right: 75.73%;
  bottom: 15%;
  left: 0.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.en,
.rhaetian-travel-experiences {
  position: absolute;
  height: 51.25%;
  width: 22.4%;
  top: 27.5%;
  left: 59.74%;
  display: inline-block;
}
.en {
  width: 3.07%;
  left: 96.35%;
}
.britain-flag-2-icon,
.ucet-2-icon,
.vector-icon3,
.vector-icon4 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.britain-flag-2-icon {
  height: 35%;
  width: 2.29%;
  top: 36.25%;
  right: 4.17%;
  bottom: 28.75%;
  left: 93.54%;
  object-fit: cover;
}
.ucet-2-icon,
.vector-icon3,
.vector-icon4 {
  height: 46.25%;
  width: 1.93%;
  top: 31.25%;
  right: 8.18%;
  bottom: 22.5%;
  left: 89.9%;
}
.ucet-2-icon,
.vector-icon4 {
  width: 2.19%;
  right: 11.82%;
  left: 85.99%;
}
.ucet-2-icon {
  width: 1.88%;
  right: 15.26%;
  left: 82.86%;
  object-fit: cover;
}
.topmenu {
  position: absolute;
  top: -2px;
  left: 0;
  width: 1920px;
  height: 80px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inika);
}
.main-window-tickets {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
