.main-window-tourism-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1920px;
  height: 1080px;
}
.main-window-tourism-item {
  position: absolute;
  top: 60px;
  left: 0;
  width: 1920px;
  height: 1020px;
  object-fit: cover;
}
.main-window-tourism-inner {
  position: absolute;
  top: 363px;
  left: 1192px;
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  width: 579px;
  height: 563px;
}
.div23,
.div24,
.div25,
.div26 {
  position: absolute;
  top: 473.39px;
  left: 778.67px;
  font-size: var(--font-size-xs);
}
.div24,
.div25,
.div26 {
  top: 966.4px;
  left: 1675.79px;
}
.div25,
.div26 {
  top: 172.79px;
  left: 1578.12px;
}
.div26 {
  top: 38.49px;
  left: 1058.47px;
}
.a-fascinatingly-different3,
.the-world-of3 {
  position: absolute;
  left: 92px;
  font-family: var(--font-abeezee);
  color: var(--color-white);
  display: inline-block;
}
.a-fascinatingly-different3 {
  top: 117px;
  font-size: var(--font-size-29xl);
  width: 731px;
  height: 371px;
}
.the-world-of3 {
  top: 254px;
  width: 899px;
}
.main-window-tourism-child1 {
  position: absolute;
  top: 446px;
  left: 1192px;
  width: 579px;
  height: 2px;
}
.main-window-tourism-child2 {
  position: absolute;
  top: 403.5px;
  left: 1191.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 580px;
  height: 1px;
}
.p8 {
  margin: 0;
}
.b10 {
  top: 416px;
  left: 1240px;
  font-family: var(--font-inika);
  width: 23px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.b10,
.b11,
.rhaetian-railways-experiences,
.tickets1 {
  position: absolute;
  font-size: var(--font-size-13xl);
  display: inline-block;
  height: 41px;
}
.b11 {
  top: 361px;
  left: 1208px;
  font-family: var(--font-inika);
  width: 23px;
}
.rhaetian-railways-experiences,
.tickets1 {
  top: 404px;
  left: 1240px;
  width: 536px;
}
.tickets1 {
  top: 363px;
}
.main-window-tourism-child3 {
  position: absolute;
  top: 631px;
  left: 1235px;
  background-color: var(--color-gainsboro);
  width: 483px;
  height: 151px;
}
.main-window-tourism-child4,
.main-window-tourism-child5 {
  position: absolute;
  top: 631px;
  left: 1235px;
  width: 138px;
  height: 151px;
}
.main-window-tourism-child5 {
  top: 561px;
  background-color: var(--color-gainsboro);
  width: 231px;
  height: 47px;
}
.main-window-tourism-child6 {
  position: absolute;
  top: 705.5px;
  left: 1326.5px;
  width: 351px;
  height: 3px;
}
.from2,
.to1,
.tue-27-61 {
  position: absolute;
  top: 730px;
  left: 1278px;
  font-weight: 800;
  display: inline-block;
  width: 75px;
  height: 27px;
}
.from2,
.tue-27-61 {
  top: 655px;
  left: 1266px;
}
.tue-27-61 {
  top: 573px;
  left: 1255px;
  width: 200px;
}
.main-window-tourism-child7 {
  position: absolute;
  top: 496px;
  left: 1235px;
  background-color: var(--color-gainsboro);
  width: 206px;
  height: 45px;
}
.x-adult-26-641 {
  position: absolute;
  top: 508px;
  left: 1240px;
  font-weight: 800;
  display: inline-block;
  width: 200px;
  height: 27px;
}
.main-window-tourism-child8 {
  position: absolute;
  top: 561px;
  left: 1503px;
  background-color: var(--color-gainsboro);
  width: 105px;
  height: 47px;
}
.div27,
.station-container1,
.station2 {
  position: absolute;
  top: 573px;
  left: 1510px;
  font-weight: 800;
  display: inline-block;
  width: 92px;
  height: 27px;
}
.station-container1,
.station2 {
  top: 660px;
  left: 1418px;
  font-weight: 500;
  color: var(--color-gray-100);
  width: 258px;
  height: 22px;
}
.station-container1 {
  top: 730px;
  width: 271px;
}
.vector-icon30 {
  position: absolute;
  height: 3.15%;
  width: 0.89%;
  top: 63.8%;
  right: 32.66%;
  bottom: 33.06%;
  left: 66.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button25 {
  position: relative;
}
.button24 {
  position: absolute;
  top: 814px;
  left: 1620px;
  border-radius: var(--br-9xs);
  background-color: var(--color-red);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-6xl);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-white);
  font-family: var(--font-lexend);
}
.vector-icon31 {
  position: absolute;
  height: 3.15%;
  width: 0.89%;
  top: 63.8%;
  right: 31.67%;
  bottom: 33.06%;
  left: 67.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.main-window-tourism-child9,
.vector-icon32 {
  position: absolute;
  top: 503.5px;
  left: 1398.5px;
  width: 1px;
  height: 29.02px;
}
.vector-icon32 {
  height: 2.31%;
  width: 1.3%;
  top: 46.85%;
  right: 25.42%;
  bottom: 50.83%;
  left: 73.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.main-window-tourism-child10,
.obrazek-1-icon3 {
  position: absolute;
  top: 364px;
  left: 90px;
  border-radius: var(--br-11xl);
  width: 976px;
  height: 563px;
}
.main-window-tourism-child10 {
  background-color: var(--color-white);
}
.obrazek-1-icon3 {
  object-fit: cover;
}
.main-window-tourism-child11,
.main-window-tourism-child12 {
  position: absolute;
  left: 90px;
  background-color: var(--color-white);
  width: 976px;
}
.main-window-tourism-child11 {
  top: 363px;
  border-radius: var(--br-11xl);
  height: 49px;
}
.main-window-tourism-child12 {
  top: 385px;
  height: 27px;
}
.maximize-icon-13 {
  position: absolute;
  top: 374px;
  left: 1018px;
  width: 32px;
  height: 29px;
  object-fit: cover;
}
.main-window-tourism-child13 {
  position: absolute;
  top: 411.5px;
  left: 89.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 977px;
  height: 1px;
}
.stations-child {
  position: absolute;
  top: calc(50% - 15.5px);
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 32px;
  height: 32px;
}
.station4 {
  position: absolute;
  top: calc(50% - 19.5px);
  left: 87px;
}
.stations {
  position: absolute;
  top: 969px;
  left: 76px;
  width: 296px;
  height: 75px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
.topmenu-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-red);
}
.logo-rhb-en-2-icon4 {
  position: absolute;
  height: 62.5%;
  width: 23.7%;
  top: 22.5%;
  right: 75.73%;
  bottom: 15%;
  left: 0.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.en4,
.rhaetian-travel-experiences7 {
  position: absolute;
  height: 51.25%;
  width: 22.4%;
  top: 27.5%;
  left: 59.74%;
  display: inline-block;
}
.en4 {
  width: 3.07%;
  left: 96.35%;
}
.britain-flag-2-icon4 {
  position: absolute;
  height: 35%;
  width: 2.29%;
  top: 36.25%;
  right: 4.17%;
  bottom: 28.75%;
  left: 93.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ucet-2-icon4,
.vector-icon33,
.vector-icon34 {
  position: absolute;
  height: 46.25%;
  width: 1.93%;
  top: 31.25%;
  right: 8.18%;
  bottom: 22.5%;
  left: 89.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ucet-2-icon4,
.vector-icon34 {
  width: 2.19%;
  right: 11.82%;
  left: 85.99%;
}
.ucet-2-icon4 {
  width: 1.88%;
  right: 15.26%;
  left: 82.86%;
  object-fit: cover;
}
.topmenu4 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 1920px;
  height: 80px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inika);
}
.main-window-tourism {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
