.map-child {
  position: absolute;
  top: 80px;
  left: 0;
  width: 1920px;
  height: 1020px;
  object-fit: cover;
}
.map-item {
  position: absolute;
  top: 140px;
  left: 110px;
  border-radius: var(--br-2xl);
  background-color: var(--color-linen);
  width: 1700px;
  height: 860px;
}
.map-inner {
  position: absolute;
  top: 188.5px;
  left: 109.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1701px;
  height: 1px;
}
.map-child1 {
  position: absolute;
  top: 80px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 1920px;
  height: 1000px;
}
.map-child2,
.map-child3,
.obrazek-2-icon {
  position: absolute;
  left: 110px;
  width: 1700px;
}
.obrazek-2-icon {
  top: 141px;
  border-radius: var(--br-11xl);
  height: 859px;
  object-fit: cover;
}
.map-child2,
.map-child3 {
  background-color: var(--color-white);
}
.map-child2 {
  top: 140px;
  border-radius: var(--br-11xl);
  height: 49px;
}
.map-child3 {
  top: 162px;
  height: 27px;
}
.minimize-solid-1-icon {
  position: absolute;
  top: 147px;
  left: 1763px;
  width: 33px;
  height: 36px;
  overflow: hidden;
}
.topmenu-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-red);
}
.logo-rhb-en-2-icon5 {
  position: absolute;
  height: 62.5%;
  width: 23.7%;
  top: 22.5%;
  right: 75.73%;
  bottom: 15%;
  left: 0.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.en5,
.rhaetian-travel-experiences8 {
  position: absolute;
  height: 51.25%;
  width: 22.4%;
  top: 27.5%;
  left: 59.74%;
  display: inline-block;
}
.en5 {
  width: 3.07%;
  left: 96.35%;
}
.britain-flag-2-icon5 {
  position: absolute;
  height: 35%;
  width: 2.29%;
  top: 36.25%;
  right: 4.17%;
  bottom: 28.75%;
  left: 93.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ucet-2-icon5,
.vector-icon35,
.vector-icon36 {
  position: absolute;
  height: 46.25%;
  width: 1.93%;
  top: 31.25%;
  right: 8.18%;
  bottom: 22.5%;
  left: 89.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ucet-2-icon5,
.vector-icon36 {
  width: 2.19%;
  right: 11.82%;
  left: 85.99%;
}
.ucet-2-icon5 {
  width: 1.88%;
  right: 15.26%;
  left: 82.86%;
  object-fit: cover;
}
.topmenu5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 80px;
}
.map {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inika);
}
