.shop-child,
.shop-item {
  position: absolute;
  left: 0;
  width: 1920px;
}
.shop-child {
  top: 0;
  background-color: var(--color-gainsboro);
  height: 1080px;
}
.shop-item {
  top: 60px;
  height: 1020px;
  object-fit: cover;
}
.div3,
.div4,
.div5 {
  position: absolute;
  top: 473.39px;
  left: 778.67px;
  font-size: var(--font-size-xs);
}
.div4,
.div5 {
  top: 313.36px;
  left: 1843.6px;
}
.div5 {
  top: 38.49px;
  left: 1058.47px;
}
.shop-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red);
  width: 1920px;
  height: 80px;
}
.arrow-up,
.home,
.long-arrow-alt-down {
  position: absolute;
  top: 400.83px;
  left: 1644.37px;
  background-color: var(--color-gray-200);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.arrow-up,
.long-arrow-alt-down {
  top: 802.92px;
  left: 1383.81px;
}
.long-arrow-alt-down {
  top: 720.75px;
  left: 1234.68px;
}
.mac-option-1 {
  margin: 0;
  padding-left: var(--padding-base);
}
.mac-option-1-container {
  position: absolute;
  top: 660.98px;
  left: 1797.96px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.shop-child2 {
  position: absolute;
  top: 147px;
  left: 65px;
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  width: 1767px;
  height: 869px;
}
.rhaetian-travel-experiences1 {
  position: absolute;
  top: 188px;
  left: 103px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  font-family: var(--font-inika);
  width: 870px;
  height: 59px;
}
.shop-child4 {
  position: absolute;
  top: 147px;
  left: 65px;
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  width: 1767px;
  height: 1027px;
}
.rhaetian-voucher,
.vouchers {
  position: absolute;
  top: 159px;
  left: 95px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 870px;
  height: 59px;
}
.vouchers {
  top: 247px;
  left: 105px;
  font-family: var(--font-inika);
}
.topmenu-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-red);
}
.logo-rhb-en-2-icon1 {
  position: absolute;
  height: 62.5%;
  width: 23.7%;
  top: 22.5%;
  right: 75.73%;
  bottom: 15%;
  left: 0.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.en1,
.rhaetian-travel-experiences2 {
  position: absolute;
  height: 51.25%;
  width: 22.4%;
  top: 27.5%;
  left: 59.74%;
  display: inline-block;
}
.en1 {
  width: 3.07%;
  left: 96.35%;
}
.britain-flag-2-icon1 {
  position: absolute;
  height: 35%;
  width: 2.29%;
  top: 36.25%;
  right: 4.17%;
  bottom: 28.75%;
  left: 93.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ucet-2-icon1,
.vector-icon5,
.vector-icon6 {
  position: absolute;
  height: 46.25%;
  width: 1.93%;
  top: 31.25%;
  right: 8.18%;
  bottom: 22.5%;
  left: 89.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ucet-2-icon1,
.vector-icon6 {
  width: 2.19%;
  right: 11.82%;
  left: 85.99%;
}
.ucet-2-icon1 {
  width: 1.88%;
  right: 15.26%;
  left: 82.86%;
  object-fit: cover;
}
.topmenu1 {
  position: absolute;
  top: -2px;
  left: 0;
  width: 1920px;
  height: 80px;
  color: var(--color-white);
  font-family: var(--font-inika);
}
.shop-child5 {
  position: absolute;
  top: 227.5px;
  left: 64.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1771px;
  height: 1px;
}
.shop-child6,
.shop-child7,
.shop-child8 {
  position: absolute;
  top: 321px;
  left: 1260px;
  background-color: var(--color-whitesmoke);
  width: 536px;
  height: 720px;
}
.shop-child7,
.shop-child8 {
  left: 95px;
}
.shop-child8 {
  left: 678px;
}
.bernina-express-in-der-montebe-icon {
  position: absolute;
  top: 393px;
  left: 120px;
  border-radius: var(--br-lgi);
  width: 485px;
  height: 294px;
  object-fit: cover;
}
.not-sure-which,
.voucher {
  position: absolute;
  top: 704px;
  left: 120px;
  display: inline-block;
  width: 271px;
  height: 38px;
}
.not-sure-which {
  top: 750px;
  left: 128px;
  font-size: var(--font-size-xl);
  width: 477px;
  height: 152px;
}
.div10,
.div11,
.div8,
.div9 {
  position: absolute;
  top: 267px;
  left: 434px;
  font-weight: 500;
  display: inline-block;
  width: 32px;
  height: 37px;
}
.div10,
.div11,
.div9 {
  top: 699px;
  left: 1096px;
  width: 27px;
}
.div10,
.div11 {
  top: 702px;
  left: 256px;
  width: 18px;
  height: 25px;
}
.div11 {
  top: 699px;
  left: 1671px;
  width: 27px;
  height: 37px;
}
.take-a-trip,
.vouchers-with-this {
  position: absolute;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.vouchers-with-this {
  top: 270px;
  left: 461px;
  font-weight: 500;
  width: 1114px;
  height: 36px;
}
.take-a-trip {
  top: 762px;
  left: 718px;
  width: 477px;
}
.bernina-express-in-der-montebe-icon1 {
  position: absolute;
  top: 393px;
  left: 703px;
  border-radius: var(--br-lgi);
  width: 485px;
  height: 294px;
  object-fit: cover;
}
.bernina-express-voucher {
  position: absolute;
  top: 704px;
  left: 703px;
  display: inline-block;
  width: 485px;
  height: 38px;
}
.bernina-express-in-der-montebe-icon2 {
  position: absolute;
  top: 393px;
  left: 1285px;
  border-radius: var(--br-lgi);
  width: 485px;
  height: 294px;
  object-fit: cover;
}
.glacier-express-voucher,
.the-panoramic-journey {
  position: absolute;
  top: 704px;
  left: 1285px;
  display: inline-block;
  width: 485px;
  height: 38px;
}
.the-panoramic-journey {
  top: 762px;
  left: 1293px;
  font-size: var(--font-size-xl);
  width: 477px;
  height: 152px;
}
.button3 {
  position: relative;
}
.button2,
.button4,
.button6 {
  position: absolute;
  border-radius: var(--br-9xs);
  background-color: var(--color-red);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-6xl);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
.button2 {
  top: 971px;
  left: 451px;
  height: 53px;
  box-sizing: border-box;
}
.button4,
.button6 {
  top: 981px;
  left: 1025px;
}
.button6 {
  left: 1607px;
}
.shop {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
