.travel-experiences-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1920px;
  height: 1080px;
}
.travel-experiences-item {
  position: absolute;
  top: 60px;
  left: 0;
  width: 1920px;
  height: 1020px;
  object-fit: cover;
}
.div12,
.div13,
.div14 {
  position: absolute;
  top: 473.39px;
  left: 778.67px;
  font-size: var(--font-size-xs);
}
.div13,
.div14 {
  top: 313.36px;
  left: 1843.6px;
}
.div14 {
  top: 38.49px;
  left: 1058.47px;
}
.travel-experiences-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red);
  width: 1920px;
  height: 80px;
}
.arrow-up2,
.home2,
.long-arrow-alt-down2 {
  position: absolute;
  top: 400.83px;
  left: 1644.37px;
  background-color: var(--color-gray-200);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.arrow-up2,
.long-arrow-alt-down2 {
  top: 802.92px;
  left: 1383.81px;
}
.long-arrow-alt-down2 {
  top: 720.75px;
  left: 1234.68px;
}
.mac-option-12 {
  margin: 0;
  padding-left: var(--padding-base);
}
.mac-option-1-container2 {
  position: absolute;
  top: 660.98px;
  left: 1797.96px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.travel-experiences-child2 {
  position: absolute;
  top: 147px;
  left: 65px;
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  width: 1767px;
  height: 869px;
}
.rhaetian-travel-experiences3 {
  position: absolute;
  top: 188px;
  left: 103px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  font-family: var(--font-inika);
  width: 870px;
  height: 59px;
}
.travel-experiences-child5 {
  position: absolute;
  top: 147px;
  left: 65px;
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  width: 1767px;
  height: 967px;
}
.travel-experiences-child6 {
  position: absolute;
  top: 340px;
  left: 1260px;
  background-color: var(--color-whitesmoke);
  width: 536px;
  height: 607px;
}
.bernina-express,
.rhaetian-travel-experiences4 {
  position: absolute;
  display: inline-block;
  height: 59px;
}
.rhaetian-travel-experiences4 {
  top: 174px;
  left: 102px;
  font-size: 64px;
  color: var(--color-red);
  width: 1086px;
}
.bernina-express {
  top: 247px;
  left: 103px;
  font-size: var(--font-size-29xl);
  width: 870px;
}
.topmenu-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-red);
}
.logo-rhb-en-2-icon2 {
  position: absolute;
  height: 62.5%;
  width: 23.7%;
  top: 22.5%;
  right: 75.73%;
  bottom: 15%;
  left: 0.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.en2,
.rhaetian-travel-experiences5 {
  position: absolute;
  height: 51.25%;
  width: 22.4%;
  top: 27.5%;
  left: 59.74%;
  display: inline-block;
}
.en2 {
  width: 3.07%;
  left: 96.35%;
}
.britain-flag-2-icon2 {
  position: absolute;
  height: 35%;
  width: 2.29%;
  top: 36.25%;
  right: 4.17%;
  bottom: 28.75%;
  left: 93.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ucet-2-icon2,
.vector-icon7,
.vector-icon8 {
  position: absolute;
  height: 46.25%;
  width: 1.93%;
  top: 31.25%;
  right: 8.18%;
  bottom: 22.5%;
  left: 89.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ucet-2-icon2,
.vector-icon8 {
  width: 2.19%;
  right: 11.82%;
  left: 85.99%;
}
.ucet-2-icon2 {
  width: 1.88%;
  right: 15.26%;
  left: 82.86%;
  object-fit: cover;
}
.topmenu2 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 1920px;
  height: 80px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inika);
}
.travel-experiences-child7,
.travel-experiences-child8 {
  position: absolute;
  top: 340px;
  left: 95px;
  background-color: var(--color-whitesmoke);
  width: 536px;
  height: 607px;
}
.travel-experiences-child8 {
  left: 678px;
}
.bernina-express-in-der-montebe-icon3 {
  position: absolute;
  top: 412px;
  left: 120px;
  border-radius: var(--br-lgi);
  width: 485px;
  height: 294px;
  object-fit: cover;
}
.bernina-express1 {
  position: absolute;
  top: 723px;
  left: 120px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 271px;
  height: 38px;
}
.benefit-from-attractive,
.from-glaciers-to {
  position: absolute;
  top: 774px;
  left: 128px;
  display: inline-block;
  width: 477px;
  height: 152px;
}
.benefit-from-attractive {
  left: 721px;
}
.bernina-express-in-der-montebe-icon4 {
  position: absolute;
  top: 412px;
  left: 703px;
  border-radius: var(--br-lgi);
  width: 485px;
  height: 294px;
  object-fit: cover;
}
.bernina-express- {
  position: absolute;
  top: 723px;
  left: 703px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 485px;
  height: 38px;
}
.bernina-express-in-der-montebe-icon5 {
  position: absolute;
  top: 412px;
  left: 1285px;
  border-radius: var(--br-lgi);
  width: 485px;
  height: 294px;
  object-fit: cover;
}
.bernina-herb-express {
  position: absolute;
  top: 723px;
  left: 1285px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 485px;
  height: 38px;
}
.journey-from-valposchiavo {
  position: absolute;
  top: 774px;
  left: 1293px;
  display: inline-block;
  width: 477px;
  height: 152px;
}
.button9 {
  position: relative;
}
.button10,
.button12,
.button8 {
  position: absolute;
  top: 888px;
  left: 453px;
  border-radius: var(--br-9xs);
  background-color: var(--color-red);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-6xl);
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-family: var(--font-lexend);
}
.button10,
.button12 {
  left: 1025px;
}
.button12 {
  left: 1607px;
}
.travel-experiences {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
